* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #888;
    height: 100vh;
    padding: 1em;
}

.content {
    background-color: #97A;
    padding: 1em;
    font-family: 'Revue Cyrillic', arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.2em;
    gap: 1em;
    width: 68em;
}


#card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    list-style-position: inside;

}

:is(.card, .closed_card){
    display: inline-block;
    text-align: center;
    width: 10em;
    height: 12em;

    

    padding: 1em;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background-image: url("https://en.touhouwiki.net/images/thumb/b/b9/BLANK_max_185.png/128px-BLANK_max_185.png");
    background-size: 10em 12em;
    opacity: 100%;
    transition: opacity 200ms;
}

:is(.card, .closed_card) p {
    background-color: black;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;

}

.card:hover {
    opacity: 60%;
    transition: opacity 200ms;
}

.closed_card {
    opacity: 20%;
}



#card_container img {
    width: 9em;
    height: 10em;
    border-radius: 0.5em;
    /* background-color: #CCC; */
    object-fit: cover;
    object-position: 0 0;

}