@font-face {
    font-family: "Revue";
    src: url("fonts/revue bt.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Revue", sans-serif;
}

body {
    background-color: #333;
    display: flex;
    place-content: center;
    gap: 1rem;
}

.main {
    background-color: #97A;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.2em;
    gap: 1rem;
    width: 68rem;
    border-radius: 1rem;
    margin-top: 1%;
}
.main h1 {
    border-radius: 1rem;
    color: white;
    letter-spacing: 0.2rem;
    align-self: center;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.349) inset;
}

.side {
    background-color: #97A;
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    gap: 1rem;
    width: 20rem;
    border-radius: 1rem;
    margin-top: 1%;
}
.side h2 {
    border-radius: 1rem;
    color: white;
    letter-spacing: 0.2rem;
    align-self: center;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.349) inset;
}
@media (max-width: 68rem) {
    .side {
        display:none;
    }
}

#card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    white-space: nowrap;
    place-content: center;

}

:is(.card, .closed_card) {
    padding-top: 0.7rem;
    width: 10rem;
    height: 12rem;
    background-image: url("./imgs/card.png");
    background-size: 100% 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.349);
    user-select: none;
    cursor: pointer;
}

:is(.card, .closed_card) p {
    color: white;
    background-color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
}

:is(.card, .closed_card) img {
    width: 85%;
    height: 94%;
    object-fit: cover;
}

@media (min-width: 68rem) {
    .card:hover {
        opacity: 60%;
        transition: opacity 200ms;
    }
}

.closed_card {
    opacity: 20%;
    box-shadow: 0 0 1rem inset;
}

@media (max-width: 68rem) {
    .main {
        width: 98%;
    }
    
    :is(.card, .closed_card) {
        width: 6rem;
        height: 8rem;
        padding-top: 0.4rem;
    }

    :is(.card, .closed_card) p {
        font-size: 0.8rem;
    }
    
}